// Specific CSS for your home-page

h2 {
  padding: 24px;
}

.info-card h3 {
  text-align: center;
  padding: 16px;
}

.card-container {
  margin: 16px;
}

.info-card {
  padding: 24px;
}

.btn-warning {
  margin: 0 16px !important;
}

#pet_species {
  margin: 0 16px;
  flex-grow: 1;
  height: unset;
}

.label-home {
  color: white;
  display: flex;
  margin: 0 16px;
}

.select {
  margin: 0 16px;
}

.pet_species {
  display: flex;
  align-items: stretch !important;
}

@-webkit-keyframes downarrow {
  0% { transform: translateY(0); opacity: 0.4 }
  100% { transform: translateY(0.4em) }
}

.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #FF8A00;
}

#scrollhint {
  position: absolute;
  bottom: 2px;
}

body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}
