// Import page-specific CSS files here.
@import "home";
@import "show";
@import "components/banner";
@import "components/card";
@import "components/footer";
@import "components/new_pet"
// @import "components/navbar_landing";

a:link {
  text-decoration: none;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
