ul {
  list-style-type: none;
}

.pet-owner {
  display: flex;
}

#new_appointment {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 16px;
}

#appointment_end_date_time {
  margin-bottom: 16px;
}