<div class="container">

  <div class="row justify-content-center mt-4">
     <h1>All My PetPals</h1>
  </div>


  <div id="cards-container">
    <div class="card-columns">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet), style: "color: black;" do %>
          <div class="card" style="width: 350px;">
            <div class="card-trip">
            <%= cl_image_tag pet.photo.key, height: 225, width: 350, crop: :fill %>
              <div class="card-trip-infos">
                <div>
                  <h5><%= pet.name %></h5>
                  <p><%= pet.description %></p>
                </div>
                <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png" class="card-trip-user avatar-bordered" />
              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
