<div class="page-container">
  <div class="title">
    <h1>All My PetPals</h1>
  </div>
  <div>
    <div class="card-container d-flex">
      <% @pets.each do |pet| %>
        <div class="card">
          <%= link_to pet.name, pet_path(pet) %>
        </div>
      <% end %>
      <div class="card d-inline-flex">
      </div>
    </div>
  </div>
</div>
