<div class="container">
  <h1>Find your furry pal for a weekend or just for a walk</h1>

  <div class="search-inline">
    <form action="/pets" class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="species" placeholder="Species">
      </div>
      <div>
        <button type="submit" class="btn btn-warning mb-2">Find my PetPal</button>
      </div>
    </form>
  </div>

</div>
<br>


<div class="container">
  <h2>How does it work?</h2>
  <br>

  <div class="info-card">
    <h3>Find your furry PetPal</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
  </div>

  <div class="info-card">
    <h3>Book your PetPal</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
  </div>

  <div class="info-card">
    <h3>Have loads of fun!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
  </div>

</div>
<br>

<div class="container">
  <h2>Frequently asked questions</h2>
</div>
