<div class="container">
  <div class="row justify-content-center">
    <h1>Find your furry pal for a weekend or just for a walk</h1>

    <div class="search-inline">
      <form action="/pets" class="form-inline">
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" id="species" placeholder="Species">
        </div>
        <div>
          <button type="submit" class="btn btn-warning mb-2">Find my PetPal</button>
        </div>
      </form>
    </div>
  </div>


</div>
<br>


<div class="container">
  <div class="row justify-content-center">

    <h2>How does it work?</h2>
    <br>

    <div class="card-container">

      <div class="row info-card">
        <div class="col-3">
          <%= image_tag("landing-1", size: "200x200") %>
        </div>
        <div class="col-9">
          <h3>Find your furry PetPal</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
        </div>
      </div>

      <div class="row info-card-reverse">
        <div class="col-9">
          <h3>Book your PetPal</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
        </div>
        <div class="col-3">
          <%= image_tag("landing-2", size: "200x200") %>
        </div>
      </div>

      <div class="row info-card">
        <div class="col-3">
          <%= image_tag("landing-3", size: "200x200") %>
        </div>
        <div class="col-9">
          <h3>Have loads of fun!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium excepturi, quod laborum eos, id esse beatae inventore repellendus, incidunt quo unde ratione maxime asperiores qui ipsa vero reprehenderit, aperiam.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row justify-content-center">
    <h2>Frequently asked questions</h2>
  </div>
</div>
