.add-pet-form {
  width: 40%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #888888;
}

.opacity {
  background: white;
}

h2 {
  text-align: center;
}

.select {
  margin: 0 !important;
}

.pet_species {
  display: block !important;
}
