<div class="container">
  <div class="row">

    <div class="col-3">
      <h1>User profile</h1>
      <br>
    </div>

    <div class="col-9">
      <div class="card-rectangle">
        <h3>PetPals owned by</h3>
      </div>

    </div>
  </div>
</div>
