<div class="container">
  <div class="row">

    <div class="col-3">
      <h2>User profile</h2>
      <br>
      <p><%= @user.username %></p>
    </div>

    <div class="col-9">
      <div class="card-rectangle">
        <h2>PetPals owned by <%= @user.username %></h2>
      </div>

    </div>
  </div>
</div>
